@model IEnumerable<CatMash.Models.Cat>

@{
    ViewData["Title"] = "Index";
}

<h1>List Des Chats</h1>

<p>
    <a asp-action="Create">Ajouter Un Chat</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cat_Name)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Picture_Path)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cat_Name)
            </td>
            
            <td>
                <img src="~/images/@item.Picture_Path" alt="image" width="318" height="159"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
